<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated evilmasterbase -->
      <package
            uri="http://www.lpdql.org/evilmasterbase"
            class="org.lpdql.evilmasterbase.EvilmasterbasePackage"
            genModel="model/evilmasterbase.genmodel"/>
   </extension>

</plugin>
