<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated evilmasterbase -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.lpdql.evilmasterbase.presentation.EvilmasterbaseModelWizardID"
            name="%_UI_EvilmasterbaseModelWizard_label"
            class="org.lpdql.evilmasterbase.presentation.EvilmasterbaseModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EvilmasterbaseModelFile.gif">
         <description>%_UI_EvilmasterbaseModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated evilmasterbase -->
      <editor
            id="org.lpdql.evilmasterbase.presentation.EvilmasterbaseEditorID"
            name="%_UI_EvilmasterbaseEditor_label"
            icon="icons/full/obj16/EvilmasterbaseModelFile.gif"
            extensions="evilmasterbase"
            class="org.lpdql.evilmasterbase.presentation.EvilmasterbaseEditor"
            contributorClass="org.lpdql.evilmasterbase.presentation.EvilmasterbaseActionBarContributor">
      </editor>
   </extension>

</plugin>
